# Python
__pycache__/
*.py[oc]
build/
dist/
!frontend/dist/
wheels/
*.egg-info
.venv/
venv/
.env

# Node / Frontend
node_modules/
npm-debug.log*
frontend/.vite/

# Databricks
.databricks/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
